:ruby
  # Require locals:
  #   game_board_tile <GameBoardTile>
  # Optional locals:
  #   game <Game> if not defined, would be game_board_tile.game
  #   board_tile_index <Integer> if not defined, would be calculated based on row and column
  game ||= game_game_board_tile.game unless defined?(game) && game
  player_number = which_player_number_for_claiming_user(game_board_tile, game)
  board_tile_index = nil unless defined?(board_tile_index)
= game_board_tile_cell_tag(game_board_tile, game, board_tile_index) do
  -#= turbo_frame_tag "game_board_tile_frame_#{game_board_tile.id}" do
  = render partial:'game_board_tiles/table_cell_inner_content', locals:{ game_board_tile: game_board_tile, game: game, board_tile_index: board_tile_index }