:ruby
  # Reference guides:
  # https://api.jqueryui.com/draggable/
  # https://codepen.io/wedugo/pen/yjVvBg


%h1= app_name
.row
  .col-auto
    .card
      .card-header Games
      = render partial:'games/games', locals:{ games: @games }
  .col-auto
    .card
      .card-header
        = link_to 'Cards', cards_path
  .col-auto
    .card
      .card-header
        = link_to 'Boards', boards_path
