:ruby
  # Reference guides:
  # https://api.jqueryui.com/draggable/
  # https://codepen.io/wedugo/pen/yjVvBg


%h1= app_name

.card
  .card-header Games
  = render partial:'games/games', locals:{ games: @games }
%br
%br
.card
  .card-header
    = link_to 'Cards', cards_path
