:ruby
  cards_per_player_count = 4 ######### 15
  
- content_for :more_head do
  = render partial:'cards/assets'
.row
  .col.card-wrapper
    - card_numbers_1 = (1..145).to_a ####### .shuffle
    - Card.where(card_number: card_numbers_1[0..cards_per_player_count - 1] ).each do |card|
      = render 'cards/card', card: card, which_player: 1
    .clearfix
  .col.card-wrapper
    - card_numbers_2 = (1..145).to_a #### .shuffle
    - Card.where(card_number: card_numbers_2[0..cards_per_player_count - 1] ).each do |card|
      = render 'cards/card', card: card, which_player: 2
    .clearfix
%hr
= render partial:'boards/board', locals:{ board: @game.board }

