- content_for :more_head do
  = render partial:'assets'
  = render partial:'form_assets'

%div(class="accordion container" id="cards_accordion")
  = render partial:'cards/form', collection: @cards, as: :card
    
.container
  .align-center.mt-3
    = paginate @cards