- add_to_javascript_packs 'cards'

- content_for :more_head do
  = render partial:'form_assets'
- if current_user.can? :manage, Card
  = render partial:'form', locals:{ card: @card }
- else
  = render partial: 'card_details', locals:{ card: @card }


= render 'shared/bs/offcanvas'