/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *======== req uire_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons';

// variables
$blood-color: rgb(179, 16, 31);
$blood-text-color: rgb(255, 255, 255);
$user-1-color: rgb(0, 153, 0);
$user-1-bg-color: rgb(123, 186, 139);
$user-2-color: rgb(204, 0, 0);
$user-2-bg-color: rgb(196, 81, 81);

:root {
  --blood-color: rgb(179, 16, 31);
  --blood-text-color: rgb(255, 255, 255);
  --user-1-color: rgb(0, 153, 0);
  --user-1-bg-color: rgb(123, 186, 139);
  --user-2-color: rgb(204, 0, 0);
  --user-2-bg-color: rgb(196, 81, 81);

  --player-1-color: #44a1fe;
  --player-2-color: #a71528;
  --player-1-pawn-color: #69d75f;
  --player-2-pawn-color: #cc6572;
  --highlight-card-border-color: #73eac3;
  --highlight-tile-background-color: #bed5cb;
  --tile-card-width: 160px;
  --tile-card-height: 220px;
  --tile-card-image-width: 150px;
  --tile-card-image-left: 0;
  --tile-card-image-top: 0;
  --tile-small-card-width: 100px;
  --tile-small-card-height: auto;
  --tile-small-card-with-note-height: auto;
  --tile-small-card-image-width: 100px;
  --tile-small-card-image-left: 0;
  --tile-small-card-image-top: 0;
}

.blood-bg-color {
  background-color: var(--blood-color);
  color: var(--blood-text-color);
}
.dark-blood-bg-color {
  background-color: darken($blood-color, 10%);
  color: $blood-text-color;
  .dropdown-item {
    color: $blood-text-color;
    &:hover {
      color: darken($blood-color, 10%);
    }
  }
}

// use $user-1-color and $user-2-color for user-specific styles
.user-1 {
  color: var(--user-1-color);
  background-color: var(--user-1-bg-color);
}
.user-2 {
  color: var(--user-2-color);
  background-color: var(--user-2-bg-color);
}
.user-1-color {
  color: var(--user-1-color);
}
.user-2-color {
  color: var(--user-2-color);
}
.user-1-bg-color {
  background-color: var(--user-1-bg-color);
}
.user-2-bg-color {
  background-color: var(--user-2-bg-color);
}
.user-1-border {
  border: solid 3px var(--user-1-bg-color);
}
.user-2-border {
  border: solid 3px var(--user-2-bg-color);
}

.btn-check + .user-1-bg-color, .btn-check + .user-2-bg-color {
  color: yellow;
}
.btn-check:checked + .user-1-bg-color , .btn.active.user-1-bg-color, .btn.show.user-1-bg-color {
  background-color: var(--user-1-bg-color);
  color: black;
  font-weight: bold;
  border: solid 2px black;
}
.btn-check:checked + .user-2-bg-color , .btn.active.user-2-bg-color, .btn.show.user-2-bg-color {
  background-color: $user-2-bg-color;
  color: black;
  font-weight: bold;
  border: solid 2px black;
}

.navbar {
  background-color: $blood-color;
  color: $blood-text-color;

  .nav-link, a {
    color: $blood-text-color;
    &:hover {
      color: darken($blood-text-color, 10%);
    }
  }

  .navbar-brand {
    color: $blood-text-color;
    &:hover {
      color: darken($blood-text-color, 10%);
    }
  }

  // .nav-item with child having .active
  .nav-item > .nav-link.active {
    color: $blood-text-color;
    background-color: darken($blood-color, 10%);
  }
}

// General styles for text
.text-deco-none, .text-decoration-none {
  text-decoration: none;
}

.subtle-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.bg-dark-info {
  background-color: rgb(191, 217, 255)
}
.bg-subtle-gray {
  background-color: #f0f0f0;
}


// Cards ///////////////////////////////////
.board-wrapper {
  background-color: #999999;
  text-align: center;
}
.board-wrapper > .board-table {
  margin-left: auto;
  margin-right: auto
}
.board-tile {
  width: var(--tile-card-width);
  height: var(--tile-card-height);
  display: inline-block;
  border: solid 1px gray;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.board-tile-odd {
  background-color: #4d5878;
}
.board-tile-even {
  background-color: #c4daef;
}
.board-tile[data-claiming-player="1"] {
  background-color: var(--player-1-color);
  border-color: var(--player-1-color);
}
.board-tile[data-claiming-player="2"] {
  background-color: var(--player-2-color);
  border-color: var(--player-2-color);
}
.board-tile > .card-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 42%;
  opacity: 0.8;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  z-index: 50
}
.board-tile .pawn-icon-wrapper {
  position: absolute;
  left: 2em;
  bottom: 0.3em;
  z-index: 2;
  display: flex;
  gap: 0.2em;
  z-index: 80;
  opacity: 0.5;
  &:hover {
    opacity: 1.0;
  }
}
.pawn-icon {
  font-size: 2.5em;
  color: #e0e0e0;
  transform: translate(-50%, -50%);
}
.disabled-icon {
  font-size: 3.5em;
  color: #999999;
  opacity: 1.0;
}

.board-tile[data-player="1"] .pawn-icon {
  color: var(--player-1-pawn-color);
}
.board-tile[data-player="2"] .pawn-icon {
  color: var(--player-2-pawn-color);
}

.board-tile .preview-effect-label, .board-tile .effect-label {
  position: relative;
  top: 42%;
  left: 0;
  font-weight: 700;
  z-index: 100;
}
.board-tile .powerup-effect {
  color: green;
}
.board-tile .powerdown-effect {
  color: purple;
}
.card > .card-extra-image {
  overflow: hidden;
}
.card > .card-extra-image img {
  width: var(--tile-card-image-width);
  position: relative;
  left: var(--tile-card-image-left);
  top: var(--tile-card-image-top);
}

.card {
  width: var(--tile-card-width);
  height: var(--tile-card-height);
  border-width: 0.4em;
  margin: 0.2em 0.1em;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.small-card {
  width: var(--tile-small-card-width);
  height: var(--tile-small-card-height);
  min-height: var(--tile-small-card-width);
  border-width: 0.1em;
  border-radius: 0.5em;
  margin: 0.1em 0.05em;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.small-card > .card-extra-image img {
  width: var(--tile-small-card-image-width);
  position: relative;
  left: var(--tile-small-card-image-left);
  top: var(--tile-small-card-image-top);
}

.small-card-with-note {
  @extend .small-card;
}

.card[data-player="1"], .card-wrapper[data-player="1"] {
  border-color: var(--player-1-color);
}
.card[data-player="2"], .card-wrapper[data-player="2"] {
  border-color: var(--player-2-color);
}
.card-dropped {
  background: transparent;
  position: relative !important;
  margin: 0 !important;
  top: 0 !important;
  left: 0 !important;
  max-width: 100% !important;
  max-height: 100% !important;
}
.card-drop-hover[data-player="1"] {
  background-color: #d0e0ff;
}
.card-drop-hover[data-player="2"] {
  background-color: #ffe0e0;
}
.highlight-tile .card {
  border-color: var(--highlight-card-border-color);
}
.highlight-tile {
  background-color: var(--highlight-tile-background-color);
}
.center-tile > .card-wrapper {
  border: solid 0.4em #ddc568;
  background-color: #e0e0e0;
}
.draggable {
  cursor: grab;
}

.user-card-quantity-input {
  border: 0;
  text-align: center;
}
.user-card-add-button, .user-card-remove-button  {
  line-height: 1.5em;
  padding: 0.1em 0.2em;
  border: 0;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.warning-short-blink {
  animation: blink 0.5s linear 2;
  background-color: yellow;
}