/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons';

// variables
$blood-color: rgb(179, 16, 31);
$blood-text-color: rgb(255, 255, 255);
$user-1-color: rgb(0, 153, 0);
$user-1-bg-color: rgb(123, 186, 139);
$user-2-color: rgb(204, 0, 0);
$user-2-bg-color: rgb(196, 81, 81);

:root {
  --blood-color: rgb(179, 16, 31);
  --blood-text-color: rgb(255, 255, 255);
  --user-1-color: rgb(0, 153, 0);
  --user-1-bg-color: rgb(123, 186, 139);
  --user-2-color: rgb(204, 0, 0);
  --user-2-bg-color: rgb(196, 81, 81);
}

.blood-bg-color {
  background-color: var(--blood-color);
  color: var(--blood-text-color);
}

// use $user-1-color and $user-2-color for user-specific styles
.user-1 {
  color: var(--user-1-color);
  background-color: var(--user-1-bg-color);
}
.user-2 {
  color: var(--user-2-color);
  background-color: var(--user-2-bg-color);
}
.user-1-color {
  color: var(--user-1-color);
}
.user-2-color {
  color: var(--user-2-color);
}
.user-1-bg-color {
  background-color: var(--user-1-bg-color);
}
.user-2-bg-color {
  background-color: var(--user-2-bg-color);
}
.user-1-border {
  border: solid 3px var(--user-1-bg-color);
}
.user-2-border {
  border: solid 3px var(--user-2-bg-color);
}

.btn-check + .user-1-bg-color, .btn-check + .user-2-bg-color {
  color: yellow;
}
.btn-check:checked + .user-1-bg-color , .btn.active.user-1-bg-color, .btn.show.user-1-bg-color {
  background-color: var(--user-1-bg-color);
  color: black;
  font-weight: bold;
  border: solid 2px black;
}
  .btn-check:checked + .user-2-bg-color , .btn.active.user-2-bg-color, .btn.show.user-2-bg-color {
  background-color: $user-2-bg-color;
  color: black;
  font-weight: bold;
  border: solid 2px black;
}

.navbar {
  background-color: $blood-color;
  color: $blood-text-color;

  .nav-link, a {
    color: $blood-text-color;
    &:hover {
      color: darken($blood-text-color, 10%);
    }
  }

  .navbar-brand {
    color: $blood-text-color;
    &:hover {
      color: darken($blood-text-color, 10%);
    }
  }

  // .nav-item with child having .active
  .nav-item > .nav-link.active {
    color: $blood-text-color;
    background-color: darken($blood-color, 10%);
  }
}