// variables
$blood-color: rgb(179, 16, 31);
$blood-text-color: rgb(255, 255, 255);
$user-1-color: rgb(0, 153, 0);
$user-1-bg-color: rgb(123, 186, 139);
$user-2-color: rgb(204, 0, 0);
$user-2-bg-color: rgb(196, 81, 81);

:root {
  --blood-color: rgb(179, 16, 31);
  --blood-text-color: rgb(255, 255, 255);
  --user-1-color: rgb(0, 153, 0);
  --user-1-bg-color: rgb(123, 186, 139);
  --user-2-color: rgb(204, 0, 0);
  --user-2-bg-color: rgb(196, 81, 81);

  --player-1-color: #44a1fe;
  --player-2-color: #a71528;
  --player-1-pawn-color: #69d75f;
  --player-2-pawn-color: #cc6572;
  --highlight-card-border-color: #73eac3;
  --highlight-tile-background-color: #bed5cb;
  --tile-card-width: 160px;
  --tile-card-height: 220px;
  --tile-card-image-width: 150px;
  --tile-card-image-left: 0;
  --tile-card-image-top: 0;
  --tile-small-card-width: 100px;
  --tile-small-card-height: auto;
  --tile-small-card-with-note-height: auto;
  --tile-small-card-image-width: 100px;
  --tile-small-card-image-left: 0;
  --tile-small-card-image-top: 0;
}
